<h1>Create a new Report</h1>
<p>
    Looks like you haven't created
    a new report in {{inactiveDays}}
    days. Please create a new report
    by following the link below.
</p>

<a href="{{baseUrl}}/workspaces/{{workspaceId}}">Click here to create a report</a>

