<h1>Reset Your Password</h1>
<p>
    Someone, hopefully you, requested a password reset.
    Use the link below to set a new password. It is valid
    for the next 24 hours. If you do not need to reset
    your password, you can just ignore this email.
</p>

<a href="{{baseUrl}}/set_password?token={{token}}">Click here to set your password</a>

