<h1>Your Password was Changed</h1>
<p>
    This email is to let you know that your password for
    the Productivity Tracker was changed. You can now log
    in with your new password at the website. If this change
    is unexpected, please contact us immediately.
<p>

<a href="{{baseUrl}}/login">Click here to log in</a>

