<h1>Your Password was Reset</h1>
<p>
    This email is to let you know that your password for
    the Productivity Tracker was reset. You can now log
    in with your new password at the website.
<p>

<a href="{{baseUrl}}/login">Click here to log in</a>

