<h1>New Summary Report</h1>
<p>
    A new summary report was posted
    for {{posterName}} on the {{teamName}}
    team. You can view the report at the link
    below.
<p>

<a href="{{baseUrl}}/workspaces/{{workspaceId}}/summaries/{{reportId}}">Click here view report</a>