<h1>Thank You for Signing Up</h1>
<p>
    Thank you for signing up for the Productivity Tracker.
    Now you just need to set a password and then join or
    create an organization. Use the link below to set your
    password and finish signing up. This link will expire
    in 24 hours.
<p>

<a href="{{baseUrl}}/set_password?token={{token}}">Click here to set your password</a>

